<!-- <p class="text-center text-muted">University CSE2004 Project</p> -->
<footer class="page-footer font-small bg-secondary text-white pt-4 custom-footer">
    <div class="container-fluid px-4">
        <p class="text mb-4">VIT Chennai CSE2004 Course Project</p>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-md-0 mb-3">
                <h6 class="text-uppercase">Links</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/3ddelano/hms" rel="noopener noreferrer" target="_blank"><i
                                class="fa fa-code me-1" aria-hidden="true"></i>Source Code</a>
                    </li>
                    <li>
                        <a href="https://chennai.vit.ac.in/" rel="noopener noreferrer" target="_blank"><i
                                class="fa fa-graduation-cap me-1" aria-hidden="true"></i>VIT Chennai</a>
                    </li>
                    <li>
                        <a href="/about"><i class="fas fa-info-circle me-1" aria-hidden="true"></i></i>About</a>
                    </li>
                </ul>
            </div>
            <div class="col col-sm-6 mb-md-0 mb-3">
                <h6 class="text-uppercase">Hospital Info</h6>
                <ul class="list-unstyled">
                    <li>
                        <p class="text m-0">Address: <%= hospital.address %>
                        </p>
                    </li>
                    <li>
                        <p class="text m-0">Phone: <%= hospital.phone %>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>