<!-- <p class="text-center text-muted">University CSE2004 Project</p> -->
<footer class="page-footer font-small bg-secondary text-white pt-4 custom-footer">
	<div class="container-fluid">
		<p class="text">VIT Chennai CSE2004 Course Project</p>
		<div class="row">
			<div class="col-md-3 mb-md-0 mb-3">
				<h6 class="text-uppercase">Links</h6>
				<ul class="list-unstyled">
					<li>
						<a href="https://github.com/3ddelano/hms" rel="noopener noreferrer" target="_blank"><i
								class="fa fa-code" aria-hidden="true"></i> Source Code</a>
					</li>
					<li>
						<a href="https://chennai.vit.ac.in/" rel="noopener noreferrer" target="_blank"><i
								class="fa fa-graduation-cap" aria-hidden="true"></i> VIT Chennai</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>