<div class="container bg-warning py-1">
	<a norefferer noopener target="_blank" class="text text-dark p-2"
		href="https://github.com/3ddelano/hms/issues">[WIP] To report a bug / suggestion Click Here <i
			class="fa fa-external-link-alt" aria-hidden="true"></i></a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
	<a class="navbar-brand" href="/"><i class="fa fa-hospital-o" aria-hidden="true"></i> [WIP]Hospital Management
		System</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/about">About</a>
		</li>
	</ul>
</nav>
<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<%
            pathArray = path.split("/").slice(1);
            pathArray = pathArray.map(p=> {
              return p.toProperCase();
            });
            let builtPath = "";
            for(let i = 0; i < pathArray.length; i++) {
              builtPath += "/"+path.split("/").slice(1)[i]; %>
          <li class="breadcrumb-item<% if((i+1) === pathArray.length) {%> active"><%= pathArray[i] %><% } else { %>"><a href="<%= builtPath %>"><%= pathArray[i] %></a><% } %></li>
          <% } %>
        </ol>
</nav>