<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="col py-3">
			<h1 class="text-danger">404</h1>
			<p>Sorry, we can’t find the page you were looking for.</p>
			<div class="btn-group">
				<a href="/" class="btn btn-success"><i class="fa fa-home" aria-hidden="true"></i> Take me Home</a>
			</div>
		</div>
	</main>

	<%- include('../partials/footer'); %>
</body>

</html>