<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<main>
		<div class="col py-3 mb-5">

			<div class="row flex-md-row-reverse">
				<div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
					<img style="max-width: 200px"
						src="https://icons-for-free.com/iconfiles/png/512/about-131964752256876096.png" alt=""
						class="img-fluid">
				</div>
				<div class="col-12 col-md-6 d-flex align-items-center">
					<div>
						<h1>About</h1>
						<h5 class="text lead">This web application is a university project for the course CSE2004
							Database
							Management System at Vellore Institute of Technology, Chennai.</h5>
					</div>
				</div>
				<div class="container">
					<h1>Our Team</h1>
					<div class="d-flex">
						<div class="card m-2 shadow" style="width: 15rem;">
							<div class="card-body text-center">
								<h5 class="card-title">Delano Lourenco</h5>
								<p class="card-text small">Lead Developer</p>
								<div class="d-flex justify-content-center">
									<a class="link-dark" target="_blank" href="mailto:3ddelano@gmail.com"><i
											class="px-2 fa-lg far fa-envelope"></i></a>
									<a class="link-dark" target="_blank" href="https://github.com/3ddelano"><i
											class="px-2 fa-lg fab fa-linkedin"></i></a>
									<a class="link-dark" target="_blank"
										href="https://www.linkedin.com/in/delano-lourenco-a9022a190"><i
											class="px-2 fa-lg fab fa-github-square"></i></a>
								</div>
							</div>
						</div>

						<div class="card m-2 shadow" style="width: 15rem;">
							<div class="card-body text-center">
								<h5 class="card-title">M V H Sai Sriraj</h5>
								<p class="card-text small">fill here</p>
								<div class="d-flex justify-content-center">
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg far fa-envelope"></i></a>
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg fab fa-linkedin"></i></a>
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg fab fa-github-square"></i></a>
								</div>
							</div>
						</div>

						<div class="card m-2 shadow" style="width: 15rem;">
							<div class="card-body text-center">
								<h5 class="card-title">Narayan Subramanian</h5>
								<p class="card-text small">fill here</p>
								<div class="d-flex justify-content-center">
									<a class="link-dark" target="_blank" href="mailto:mailto:narayanscs36@gmail.com"><i
											class="px-2 fa-lg far fa-envelope"></i></a>
									<a class="link-dark" target="_blank"
										href="https://www.linkedin.com/in/narayan-subramanian/"><i
											class="px-2 fa-lg fab fa-linkedin"></i></a>
									<a class="link-dark" target="_blank" href="https://github.com/narayanadi09"><i
											class="px-2 fa-lg fab fa-github-square"></i></a>
								</div>
							</div>
						</div>

						<div class="card m-2 shadow" style="width: 15rem;">
							<div class="card-body text-center">
								<h5 class="card-title">Ranjeesh Kaippada</h5>
								<p class="card-text small">fill here</p>
								<div class="d-flex justify-content-center">
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg far fa-envelope"></i></a>
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg fab fa-linkedin"></i></a>
									<a class="link-dark" target="_blank" href="#"><i
											class="px-2 fa-lg fab fa-github-square"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

	<%- include('../partials/footer'); %>
</body>

</html>