<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>

	<!-- Modal -->
	<div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="messageModalText"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Got it</button>
				</div>
			</div>
		</div>
	</div>
	<main>
		<div class="jumbotron mb-5">
			<h1 class="text-center">Signup</h1>
			<form action="/signup" method="POST" id="signup-form" class="row g-3 needs-validation">
				<div class="mb-3">
					<label for="signupemail" class="form-label">Email address</label>
					<input required name="email" type="email" class="form-control" id="signup-email"
						aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="signuppassword" class="form-label">Password</label>
					<input required name="password" type="password" class="form-control" id="signup-password">
				</div>
				<div class="mb-3">
					<label for="signupconfirmpassword" class="form-label">Confirm Password</label>
					<input required name="confirmpassword" type="password" class="form-control"
						id="signup-confirmpassword">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<div class="text-center mt-3">
				<a class="" href="/login">I have an account. Login <i class="fas fa-arrow-circle-right"></i></a>
			</div>
		</div>
	</main>

	<%- include('../partials/footer'); %>

		<script>

			$(document).ready(() => {
				let message = JSON.parse(`<%- JSON.stringify(message) %>`);
				if (message) {
					let title = $("#messageModalTitle");
					let text = $("#messageModalText");

					title.removeClass('danger');
					title.removeClass('success');
					title.removeClass('warning');
					title.addClass('text-' + message.type);
					title.text(message.title)
					text.text(message.text);
					let messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
					messageModal.show();
				}
			});

		</script>
</body>

</html>