<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../../partials/header', {hideSignup: true, admin: true}); %>
	</header>
	<%- include('../../partials/alert'); %>

		<main>
			<div class="col py-3 mb-5">
				<h1 class="text-center">Admin Login</h1>
				<p class="col lh-sm"><b>Public Test Login</b><br>Email: admin@cityhospital.com<br>Password:
					12345
				</p>
				<form action="/admin/login" method="POST" id="login-form" class="row g-3 needs-validation">
					<div class="mb-3">
						<label for="loginemail" class="form-label">Email address</label>
						<input required name="email" type="email" class="form-control" id="login-email"
							aria-describedby="emailHelp" value="">
					</div>
					<div class="mb-3">
						<label for="loginpassword" class="form-label">Password</label>
						<input required name="password" type="password" class="form-control" id="login-password"
							value="">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</main>

		<%- include('../../partials/footer'); %>
</body>

</html>